{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


{% set fruit = "Banane" %}

<div>
    <h1> Hello World </h1>

<h2>Les filtres de transformations</h2>


<p>{{ fruit | upper }}</p>
   
</div>

{% endblock %}
