{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div>
    <h1> Hello World </h1>

<ul>
    {% for jeu,multi in jeux %}
        <li>Titre: {{jeu}} - Multi: {{ multi }} joueurs</li>
    {% endfor %}
</ul>

   
</div>

{% endblock %}
