{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div>
    <h1> Hello World </h1>

<h2>Les filtres de transformations</h2>


<p>{{ article.title | upper }}</p>
   
</div>

{% endblock %}
