{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div>
    <h1> Hello World </h1>

    {% if true %}
    
        <p>Ok je vois le délire </p>
        {% else %}
            <p>Mais lui quand c'est faux c'est vrai</p>
    
    {% endif %}

   
</div>

{% endblock %}
