{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{# {% set poids = 300 %} #}
{% set fruit = {'name':'Banane', poids:150, forme:'ronde'} %}

<div>
    <h1> Hello World </h1>

<h2>Les filtres de transformations</h2>


<p>Fruit: {{ fruit.name }} </p>
<p>Poids: {{ fruit.poids }} g.</p>
<p>forme: {{ fruit.forme }}</p>
   
</div>

{% endblock %}
